* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dbe7c9;
}
header {
  background-color: #50623a;
  color: #fff;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  height: 60px;
}
h1 {
  margin: 0;
}
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.menu-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 220px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}

.menu-item:hover {
  transform: scale(0.9);
}
.menu-item h2 {
  margin-top: 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.menu-item p {
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 30px;
}
button {
  margin-left: 100px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  border-radius: 20px;
  background-color: lightgreen;
  cursor: pointer;
  padding: 2px 5px;
}
button:hover {
  background-color: #50623a;
}
h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  margin-top: 30px;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  padding: 5px 20px;
  line-height: 30px;
  font-size: 20px;
  color: floralwhite;
  transition: 1s;
}
a:hover {
  font-size: 25px;
  color: chartreuse;
}
